<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-4 col-md-offset-4" style="background-color:#fff;"> 
			<form class="form-signin" action="firstlogin.html"> 
				<span id="reauth-email" class="reauth-email"></span>
				<input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				<div class="form-group"> 
					<div class="col-sm-12">
						<img src="img/u84.png" width="301" height="119" border="0" alt="">
					</div>
				</div> 
				<div id="remember" class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<a href="#!/forgotpassword">ลืมรหัสผ่าน คลิ๊คที่นี่</a>
				<a href="#!/dealer/myhome" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">เข้าระบบ</a>
				<a href="#!/register-1" class="btn btn-lg btn-primary btn-block btn-register" type="button">สมัครเป็นตัวแทน</a>
			</form>              
		</div>
	</div>
</div>