<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<h2 class="text-center head-text">ลงทะเบียนเรียบร้อยแล้ว</h2>
			<p class="text-center head-text"> 
				เจ้าหน้าที่จะติดต่อท่านกลับโดยเร็วที่สุด<br>
				ขอบคุณที่สนใจร่วมเป็นคู่ค้ากับ กสท
			</p>
			<div class="row">
				<div class="col-md-10 col-md-offset-1" style="font-weight:normal;min-height:350px;">
					<form class="form-horizontal" role="form">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="textinput">เลขที่ใบคำขอของท่านคือ</label>
								<div class="col-sm-7">
									<p class="form-control-static">R201710000001</p>
								</div> 
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="textinput">ภูมิภาค/เขต</label>
								<div class="col-sm-7">
									<p class="form-control-static">ภาคกลาง</p>
								</div> 
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="textinput">จังหวัด/พื้นที่</label>
								<div class="col-sm-7">
									<p class="form-control-static">กรุงเทพ และ ปริมลฑล</p>
								</div> 
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="textinput">สำนักงานบริการลูกค้า</label>
								<div class="col-sm-7">
									<p class="form-control-static">ส่วนการตลาดและการขาย</p>
								</div> 
							</div>
						</fieldset>
					</form>
					<div class="col-md-4 col-md-offset-4 text-center">
						<a href="#/!" class="btn btn-md btn-primary btn-block "><i class="fa fa-home"></i>  กลับหน้าแรก </a>
					</div> 
				</div> 
			</div>
		</div>  
	</div>
</div>