<div class="container" style="margin-top: 10px;">
	<div class="row bs-wizard" style="border-bottom: 0;">
		<div class="col-xs-4 bs-wizard-step complete">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกผลิตภัณฑ์หรือบริการ </div>
		</div>
		<div class="col-xs-4 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">เลือกพื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย</div>
		</div>
		<div class="col-xs-4 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
			<div class="progress">
				<div class="progress-bar"></div>
			</div>
			<a href="#" class="bs-wizard-dot"></a>
			<div class="bs-wizard-info text-center">กรอกแบบฟอร์มใบสมัครตัวแทน</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-12" style="background-color: #fff;">
			<div class="row">
				<div class="col-md-12" style="padding: 50px 50px 50px 50px; font-weight: normal; min-height: 350px;">
					<div class="row">
						<div class="col-md-12">
							<form action="register-step5.html" class="form-horizontal" role="form" id="frm" name="frm">
								<div class="row">
									<div class="col-md-6">
										<fieldset>
											<legend>บริการ</legend>
											<div class="form-group">
												<div class="col-sm-10">
													<img src="img/mylogo.png" style="width:135px;">
													<select>
														<option>my บริการ 3G/4G</option>
														<option>C Internet</option>
														<option>CAT Datacom</option>
														<option>CAT Voice</option>
														<option>CAT Data Center</option>
														<option>IRIS Cloud</option>
													</select>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-md-6">
										<fieldset>
											<legend>รายละเอียดสำนักงาน</legend>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="textinput">ภูมิภาค/เขต</label>
												<div class="col-sm-7">
													<p class="form-control-static">กรุงเทพ และ ปริมลฑล</p>
												</div>
												<label class="col-sm-5 control-label" for="textinput">จังหวัด</label>
												<div class="col-sm-7">
													<p class="form-control-static">กรุงเทพ</p>
												</div>
												<label class="col-sm-5 control-label" for="textinput">สำนักงานบริการลูกค้า</label>
												<div class="col-sm-7">
													<p class="form-control-static">สำนักงานบริการลูกค้า กสท. ส่วนกลาง</p>
												</div>
											</div>
										</fieldset>
									</div>
								</div>

								<fieldset>
									<legend>ข้อมูลทั่วไป</legend>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
										<div class="col-sm-4">
											<div class="radio radio-inline">
												<input type="radio" name="type" id="radio1" ng-click="changetype(1);" checked value="option1">
												<label for="radio1">บุคคลธรรมดา</label>
											</div>
											<div class="radio radio-inline">
												<input type="radio" name="type" id="radio2" ng-click="changetype(2);" value="option2">
												<label for="radio2">นิติบุคคล</label>
											</div>
										</div>
									</div>
									<div class="org" ng-show="type==2"> 
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ประเภท<em>*</em></label>
											<div class="col-sm-2">
												<select id="v1" name="v1" class="form-control">
													<option value="1">บจก.</option>
													<option  value="2">บมจ.</option>
													<option  value="3">หจก.</option>
												</select>
											</div>
											<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
											<div class="col-sm-3">
												<input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
											</div>
											<label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
											<div class="col-sm-2">
												<input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
											<div class="col-sm-2">
												<select class="form-control cardtype" id="v51" name="v51">
													<option value="1">Citizen ID Card</option>
													<option value="2">Passport</option>
													<option value="3">Other</option>
												</select>
											</div>
											<label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
											<div class="col-sm-2">
												<input type="number" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control" />
											</div>
											<label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
											<div class="col-sm-2">
												<input type="number" id="v6b" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">วันที่จดทะเบียน<em>*</em></label>
											<div class="col-sm-2">
												<div class="input-group date" data-provide="datepicker">
													<input type="text" id="v2" name="v2" class="form-control">
													<div class="input-group-addon">
														<span class="fa fa-calendar"></span>
													</div>
												</div>
											</div>
											<label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน<em>*</em></label>
											<div class="col-sm-2">
												<input type="number" id="v4" name="v4" placeholder="ทุนจดทะเบียน" class="form-control">
											</div> 
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
											<div class="col-sm-4">
												<input type="text" placeholder="อีเมล์ " class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
											<div class="col-sm-4">
												<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
											<div class="col-sm-4">
												<input type="number" placeholder="เบอร์โทรสาร " class="form-control">
											</div>
										</div>
									</div>
									<div class="individual" ng-show="type==1">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
											<div class="col-sm-2">
												<select id="titleprefix" name="titleprefix" class="form-control">
													<option ng-repeat="prefix in titleprefix" value="{{prefix.value}}">{{prefix.name}}</option>
												</select>
											</div>
											<label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
											<div class="col-sm-2">
												<div class="radio radio-inline">
													<input type="radio" name="xgd" id="radio1gd" checked value="option1">
													<label for="radio1gd">ชาย</label>
												</div>
												<div class="radio radio-inline">
													<input type="radio" name="xgd" id="radio2gd"  value="option2">
													<label for="radio2gd">หญิง</label>
												</div>
											</div>
											<label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
											<div class="col-sm-3">
												<div class="input-group date" data-provide="datepicker">
													<input type="text" id="v2" name="v2" class="form-control">
													<div class="input-group-addon">
														<span class="fa fa-calendar"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
											<div class="col-sm-2">
												<select class="form-control cardtype" id="v5" name="v5">
													<option value="1">Tax ID Card</option>
													<option value="2">Citizen ID Card</option>
													<option value="3">Passport</option>
													<option value="4">Other</option>
												</select>
											</div>
											<label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
											<div class="col-sm-2">
												<input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
											<div class="col-sm-2">
												<input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control" id="v7" name="v7">
											</div>
											<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
											<div class="col-sm-4">
												<input type="text" placeholder="อีเมล์ " class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
											<div class="col-sm-4">
												<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
											<div class="col-sm-4">
												<input type="text" placeholder="เบอร์โทรสาร " class="form-control">
											</div>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<legend>ที่อยู่</legend>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
										<div class="col-sm-3">
											<input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
										</div>
										<label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
										<div class="col-sm-2">
											<input type="text" placeholder="หมู่ที่" class="form-control">
										</div>
										<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
										<div class="col-sm-3">
											<input type="text" placeholder="หมู่บ้าน" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
										<div class="col-sm-2">
											<input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
										</div>
										<label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
										<div class="col-sm-3">
											<input type="text" placeholder="ตรอก/ซอย" class="form-control">
										</div>
										<label class="col-sm-1 control-label" for="textinput">ถนน</label>
										<div class="col-sm-3">
											<input type="text" placeholder="ถนน" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">ประเทศ<em>*</em></label>
										<div class="col-sm-4">
											<select class="form-control" id="ddlcountry">
												<option value="1">ไทย</option>
												<option value="2">พม่า</option>
												<option value="3">เวียดนาม</option>
											</select>
										</div>
										<div class="col-sm-4">
											<button type="button" data-toggle="modal" data-target="#mdAddress" id="btnAddress" class="btn btn-sm btn-info"><i class="fa fa-search"></i> ค้นหาที่อยู่</button>
										</div>
									</div>
									<div class="THA">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="province" name="province_id" readonly placeholder="" class="form-control" value="กรุงเทพมหานคร">
											</div>
											<label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="district" name="amphur_id" readonly placeholder="" class="form-control" value="พระนคร">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="subdistrict" name="district_id" readonly placeholder="" class="form-control" value="พระบรมมหาราชวัง">
											</div>
											<label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" id="zipcode" name="zipcode" readonly placeholder="" class="form-control" value="10200">
											</div>
										</div>
									</div>
									<div class="OTH">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">State<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" placeholder="State" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">Province<em></em></label>
											<div class="col-sm-4">
												<input type="text" placeholder="City" class="form-control">
											</div>
										</div>
										<div class="form-group"> 
											<label class="col-sm-2 control-label" for="textinput">City<em></em></label>
											<div class="col-sm-4">
												<input type="text" placeholder="City" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="textinput">Zip Code<em>*</em></label>
											<div class="col-sm-4">
												<input type="text" placeholder="Zip Code" class="form-control">
											</div>
										</div>
									</div>
								</fieldset>

								<fieldset id="address2">
									<legend>บุคคลที่ติดต่อ</legend>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
										<div class="col-sm-2">
											<select class="form-control">
												<option>นาย</option>
												<option>นาง</option>
												<option>นางสาว</option>
											</select>
										</div>
										<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
										<div class="col-sm-3">
											<input type="text" placeholder="ชื่อ" class="form-control">
										</div>
										<label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
										<div class="col-sm-3">
											<input type="text" placeholder="นามสกุล" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
										<div class="col-sm-4">
											<input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
										</div>
										<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
										<div class="col-sm-4">
											<input type="text" placeholder="อีเมล์ " class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
										<div class="col-sm-4">
											<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
										</div>
										<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
										<div class="col-sm-4">
											<input type="text" placeholder="เบอร์โทรสาร " class="form-control">
										</div>
									</div>
								</fieldset>
								
								<fieldset>
									<legend>เอกสารประกอบการสมัคร</legend>
									<div class="individual" ng-show="type==1">
										<div class="form-group">
											<label class="col-sm-2 control-label lblDoc" for="textinput">สำเนาบัตรประชาชน <em>*</em></label>
											<div class="col-sm-4">
												<input type="file" placeholder="สำเนาบัตรประชาชน " class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">สำเนาทะเบียนบ้าน</label>
											<div class="col-sm-4">
												<input type="file" placeholder="สำเนาทะเบียนบ้าน " class="form-control">
											</div>
										</div>
									</div>
									<div class="org" ng-show="type==2">
										<div class="form-group">
											<label class="col-sm-2 control-label lblDoc" for="textinput">สำเนาหนังสือจดทะเบียนบริษัท <em>*</em></label>
											<div class="col-sm-4">
												<input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="textinput">สำเนาเอกสารใบภพ. 20</label>
											<div class="col-sm-4">
												<input type="file" placeholder=" " class="form-control">
											</div>
										</div>
									</div>
								</fieldset>
								
								<fieldset class="well catshop">
									<legend style="border:0px; position:relative; top:25px;">สำหรับพนักงาน CAT </legend>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">Type</label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>Dealer</option> 
												<option value="" >Partner</option> 
												<option value="">Partner & Dealer</option> 
											</select> 
										</div>
										<label class="col-sm-2 control-label" for="textinput">Project Name</label>
										<div class="col-sm-4">
											<input type="text" placeholder=" " class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">Department </label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>สำนักงานบริการลูกค้า กสท เขตเหนือ</option> 
												<option value="">สำนักงานบริการลูกค้า กสท เขตกลาง</option> 
											</select> 
										</div>
										<label class="col-sm-2 control-label" for="textinput">Employee Id</label>
										<div class="col-sm-4">
											<input type="text" placeholder=" " class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">Employee Telephone </label>
										<div class="col-sm-4">
											<input type="text" placeholder=" " class="form-control">
										</div>
										<label class="col-sm-2 control-label" for="textinput">Employee Email	</label>
										<div class="col-sm-4">
											<input type="text" placeholder=" " class="form-control">
										</div>
									</div>
									<hr/>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">Customer Segment </label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>ธุรกิจทั่วไป</option> 
												<option value="">หน่วยงานรัฐ</option> 
												<option value="">บุคคลทั่วไป</option> 
												<option value="">ธุรกิจ กสท</option> 
											</select> 
										</div>
										<label class="col-sm-2 control-label" for="textinput">Customer Group	</label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>กลุ่มเกษตรและแปรรูป</option> 
												<option value="">สินค้าอุปโภคบริโภค</option> 
												<option value="">กลุ่มสินค้าอุตสาหกรรม</option> 
												<option value="">กลุ่มบริการ</option> 
											</select> 
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="textinput">Customer Type </label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>กฎหมาย</option> 
												<option value="">การท่องเที่ยวและสันทนาการ</option> 
												<option value="">ขนส่งและโลจิสติกส์</option> 
												<option value="">ที่ปรึกษา</option> 
											</select> 
										</div>
										<label class="col-sm-2 control-label" for="textinput">Customer Focus	</label>
										<div class="col-sm-4">
											<select name="" class="form-control">
												<option value="" selected>อื่นๆ</option> 
											</select> 
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<a href="#!register-3" class="btn btn-md btn-default" style="width: 45%;"><i class="fa fa-long-arrow-left"></i>ย้อนกลับ</a>
						<a href="#!register-5" class="btn btn-md btn-primary btn-primary-orange" id="btnNext" style="width: 45%;">ส่งข้อมูลสมัคร</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


