<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" > 
			<h2 class="text-center head-text">ข้อตกลงและเงื่อนไขการสมัครเป็นตัวแทน</h2>
		</div>
	</div>
</div>
<div class="container" style="margin-top:10px;">
	<div class="row"> 
		<div class="col-md-12" style="background-color:#fff;"> 
			<div class="row">
				<div class="col-md-12" style="padding:50px 50px 50px 50px;font-weight:normal;">
					<ul style="line-height:28px;list-style:none;">
						<li>1  ผู้ใช้บริการต้องปฏิบัติตามกฎหมาย ตลอดจนบรรดาข้อกำหนด ระเบียบ คำสั่งและประกาศต่างๆ ของผู้ ให้บริการ และ/หรือหน่วยงานที่เกี่ยวข้องผู้มีอำนาจกำกับดูแลบริการ ทั้งที่ใช้อยู่ในปัจจุบันและที่จะได้มีการแก้ไข เปลี่ยนแปลงต่อไปในอนาคต และผู้ใช้บริการจะต้องไม่ใช้บริการไปในทางที่ขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดี ของประชาชน หรือใช้ไปในทางที่ทำให้เกิดความเสียหาย หรือใช้เพื่อวัตถุประสงค์ที่ ไม่ชอบด้วยกฎหมายหรือยอมให้บุคคลอื่นใดกระทำการดังกล่าว</li>
						<li>2  ผู้ใช้บริการตกลงยินยอมผูกพันและปฏิบัติตามบรรดาคู่มือการใช้บริการ ประกาศ และเอกสารต่างๆ ที่เกี่ยวข้อง กับบริการ ทั้งที่มีอยู่แล้วในปัจจุบันและที่จะมีขึ้นหรือมีการแก้ไขเปลี่ยนแปลงต่อไปในอนาคตซึ่งได้จัดทำขึ้นโดยผู้ ให้บริการ ทั้งนี้ ผู้ใช้บริการสามารถโต้แย้งการแก้ไขเปลี่ยนแปลงดังกล่าว ได้ภายใน 7 วัน นับตั้งแต่วันที่ได้รับข้อมูล ข่าวสาร หากพ้นกำหนดระยะเวลาแล้ว ให้ถือว่าผู้ใช้บริการยินยอม</li>
						<li>3  ให้ถือว่าบรรดาข่าวสาร คำบอกกล่าว คำแนะนำ ข้อเสนอแนะ คำบอกกล่าวทวงถามต่างๆ ที่ได้ส่งถึงผู้ใช้บริการ โดยผ่านทางเครื่องวิทยุคมนาคมหรือทางบริการ มีผลผูกพันผู้ใช้บริการ เฉพาะในกรณีที่ผู้ใช้บริการได้แสดงความ ประสงค์ตกลงยินยอมโดยชัดแจ้ง ผ่านทาง SMS, Call Center หรือสำนักงานบริการลูกค้าของผู้ให้บริการ</li>
						<li>4  ห้ามมิให้ผู้ใช้บริการใช้บริการไปในทางที่อาจก่อให้เกิดความเสียหายต่อประเทศชาติ ผู้ให้บริการหรือบุคคลอื่น ใด หรือดำเนินการอย่างหนึ่งอย่างใดอันจะส่งผลให้เกิดความเสียหายหรือเสื่อมเสียแก่การปฏิบัติการของเครือข่ายหรือ อุปกรณ์ที่เกี่ยวข้อง หรือแก่บริการหรือบริการโทรคมนาคมอื่นใดที่ให้บริการโดยผู้ให้บริการหรือบุคคลอื่นใด และห้ามมิ ให้ผู้ใช้บริการนำเลขหมายวิทยุคมนาคม เครื่องวิทยุคมนาคม อุปกรณ์หรือส่วนหนึ่งส่วนใดของเครื่องวิทยุคมนาคม อุปกรณ์ หรือบริการไปใช้เพื่อวัตถุประสงค์อื่นใดที่มิชอบด้วยกฎหมายหรือขัดต่อเจตนารมณ์ในการเข้าใช้บริการตาม สัญญานี้ และห้ามมิให้นำบริการ หรือเนื้อหาของบริการ ไปจำหน่ายต่อหรือให้บริการต่อหรือจำหน่ายหรือให้บริการใน เชิงพาณิชย์</li>
						<li>5  ในกรณีที่ผู้ให้บริการกำหนดรหัสประจำตัวให้แก่ผู้ใช้บริการสำหรับใช้บริการ ผู้ใช้บริการตกลงที่จะไม่เปิดเผย รหัสประจำตัวดังกล่าวแก่บุคคลใดๆ</li>
						<li>6  ในกรณีที่ผู้ใช้บริการทราบหรือมีเหตุที่ทำให้เชื่อได้ว่ามีบุคคลล่วงรู้ถึงและ/หรือได้ใช้รหัสประจำตัวของตน ให้ ผู้ใช้บริการแจ้งเหตุดังกล่าวให้ผู้ให้บริการทราบโดยเร็วที่สุด ไม่ว่าจะเป็นหนังสือ หรือทางโทรศัพท์ หรือเครื่องมือสื่อสาร อย่างอื่นใด และผู้ให้บริการจะพิจารณาดำเนินการเพื่อให้มีการระงับการให้บริการหรือดำเนินการกำหนดรหัสประจำตัว ใหม่ให้แก่ผู้ใช้บริการในระยะเวลาอันสมควรเท่าที่ผู้ให้ บริการจะสามารถดำเนินการได้หลังจากที่ได้รับแจ้งดังกล่าวซึ่ง ได้รับการตรวจสอบแล้วว่าถูกต้อง</li>
					</ul>
					<div class="col-md-4 col-md-offset-4">
						<div class="form-group hidden">
							<div class="radio radio-inline"> 
								<input type="radio" name="x2" id="radio22"  value="option22">
								<label for="radio22">
									ข้าพเจ้ายอมรับและตกลงผูกพันตามเงื่อนไขและข้อตกลง
								</label>
							</div>
						</div>
						<div style="margin:10px 0;">
							<div class="g-recaptcha" data-sitekey="6Lfb0TwUAAAAAJta1Mr3aXj2oCYIYnyEbhtAfN2Z"></div>
						</div>
						<a href="#!register-2" class="btn btn-md btn-primary" type="button" style="width:45%;">ยอมรับเงื่อนไข</a>
						<a href="#/!" class="btn btn-md btn-danger" type="button" style="width:45%;">ยกเลิก</a>
					</div>
				</div>
			</div>  
		</div>
	</div>
</div>