
  <style>
  .control-label { line-height:34px; margin:0; padding:0 !important; }
  </style>


		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contract Agreement</li>
  </ol>
</nav>
  			  <!-- <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3>List of Contract Agreement 
		        </h3>
		    </div> -->
<form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Contract Agreement No.</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Contract Agreement No. " class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">ประเภทบริการ</label>
            <div class="col-sm-4">
                 <select class="form-control">
					<option>my บริการ 3G/4G</option>
					<option>C internet</option>
					<option>CAT datacom</option>
				</select>
            </div> 
          </div> 

		  <!-- Text input-->
          <div class="form-group"> 
		   <label class="col-sm-2 control-label" for="textinput">Sale ผู้ดูแล</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Sale ผู้ดูแล" class="form-control">
            </div> 
			<label class="col-sm-2 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-4">
                <select class="form-control">
					<option>ใช้งาน</option>
					<option>รอตรวจสอบ</option>
					<option>ไม่ใช้งาน</option> 
				</select>
            </div> 
          </div> 

	<div>
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
		
	</div>

        </fieldset>
		<!-- end -->
		     </form>
		    <table id="tablelist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>ลำดับ</th>
						<th>Contract No.</th>
		                <th>ชื่อ</th>
		                <th>ประเภทบริการ</th>
		                <th>สำนักงาน</th>
		                <th>สถานะ</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		<script type="text/javascript">
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
		</script>
    
<div class="modal fade" id="newcontract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">สร้าง Contract Agreement</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="display:table;">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="textinput">ชื่อ</label>
					<div class="col-sm-8" style="margin-bottom:10px;">
						<input type="text" placeholder="ชื่อ" class="form-control">
					</div>
					<label class="col-sm-4 control-label" for="textinput">สำนักงาน</label>
					<div class="col-sm-8">
						<input type="text" placeholder="สำนักงาน" class="form-control">
					</div>
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
