
		<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notify</li>
  </ol>
</nav>
 
  			 <form class="form-horizontal well" role="form">

			<fieldset> 
          <!-- Form Name -->
          <!-- <legend>เอกสารประกอบการสมัคร</legend>
 -->
		 

		  <!-- Text input-->
          <div class="form-group">
             <label class="col-sm-2 control-label" for="textinput">วันที่จาก</label>
            <div class="col-sm-2">
                <div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control">
					<div class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</div>
				</div>
            </div> 
            <label class="col-sm-1 control-label" for="textinput">วันที่ถึง</label>
            <div class="col-sm-2">
                <div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control">
					<div class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</div>
				</div>
            </div> 

			<label class="col-sm-1 control-label" for="textinput">สถานะ</label>
            <div class="col-sm-2">
                <select class="form-control">
					<option>ยังไม่อ่าน</option>
					<option>อ่านแล้ว</option>  
				</select>
            </div> 


          </div> 

<div >
		<button class="btn btn-primary pull-right" type="button"  > <i class="fa fa-search"></i> ค้นหา</button> 
	</div>

        </fieldset>
		<!-- end -->
		     </form>
		    <table id="tablelist" class="table table-bordered table-hover datatable">
		        <thead>
		            <tr class="success">
						<th>ลำดับ</th>
						<th>เลขที่งาน</th>
		                <th>เรื่อง</th>
		                <th>ประเภท</th>
		                <th>ผู้ส่ง</th> 
		                <th>สถานะ</th>
						<th>วันที่แจ้งเตือน</th>
		                <th width="1">&nbsp;</th> 
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>

		<script type="text/javascript">
		$(function () {

			$('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-3d',
	autoclose: true
});

  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  });
		</script>
    
	<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">แจ้งตือน : คำขออนุมัติลงทะเบียน Dealer ใหม่</h4>
      </div>
      <div class="modal-body">
	    <h4>วันที่แจ้งเตือน : 
		11/11/2560 10:00:23 น.
		</h4>
		<h4>จาก : 
		SALE001-นายขายดี ยอดขายทะลุเป้า
		</h4>
		<h4>ข้อความ</h4>
        <p>
		หลังจากที่คุณเปิดใช้งานการแจ้งเตือนด้วยข้อความตัวอักษร คุณจะต้องระบุว่าคุณต้องการได้รับการแจ้งเตือนเมื่อใด
<br>
ถ้าคุณได้เปิดข้อความที่ส่งข้อความแจ้งให้ทราบสำหรับบัญชีผู้ใช้ของคุณ และบุคคลที่จัดการอีเมลของคุณได้เปิดใช้งานฟีเจอร์การส่งข้อความ การตั้งค่าต่อไปนี้จะแสดงขึ้นมา
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

