<style>
.control-label { line-height:34px; margin:0; padding:0 !important; }
#nav-search { display:flex; flex-wrap:wrap; }
#nav-search > * { margin-bottom:5px; }
#nav-action button { margin-left:5px; }

#tablelist tr > *:nth-child(1),
#tablelist tr > *:nth-child(9) { text-align:center; }

table { background-color:#FFF; }

ul, li { list-style-type:disc; }
li:hover { background-color:#EEE; cursor:pointer; }
</style>   

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#!/dealer/myhome">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">To do List</li>
	</ol>
</nav>

<div class="row-fluid">
	<div class="col-md-5">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">TO-DO-LIST</div>
				<div class="panel-body">
					<ul>
						<li>สำนักงานภาค</li>
						<ul>
							<li>สำนักงาน กรุงเทพและปริมณฑล</li>
							<ul>
								<li>สำนักงานบริการลูกค้า Sales Team 1</li>
								<ul>
									<li>CAT Sales Rep. - A</li>
									<ul>
										<li>ใบคำร้องขอแก้ไขข้อมูลตัวแทนจำหน่าย</li>
										<ul>
											<li>รอการอนุมัติ (20)</li>
											<li>งานที่ปิดวันนี้ (30)</li>
										</ul>
									</ul>
									<ul>
										<li>ใบคำร้องขอเพิ่ม Dealer Admin</li>
										<ul>
											<li>รอการอนุมัติ (20)</li>
											<li>งานที่ปิดวันนี้ (30)</li>
										</ul>
									</ul>
									<ul>
										<li>ใบคำร้องขอสั่งซื้อ SiM - Pre/Postpaid</li>
										<ul>
											<li>รอการอนุมัติ (20)</li>
											<li>งานที่ปิดวันนี้ (30)</li>
										</ul>
									</ul>
									<li>CAT Sales Rep. - B</li>
									<li>CAT Sales Rep. - C</li>
								</ul>
								<li>สำนักงานบริการลูกค้า Sales Team 2</li>
								<li>สำนักงานบริการลูกค้า Sales Team 3</li>
							</ul>
							<li>สำนักงาน ภาคเหนือ</li>
							<li>สำนักงาน ภาคใต้</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="row" style="margin-left:0;">
			<table id="tablelist" class="table table-bordered table-hover datatable">
				<thead>
					<tr class="success">
						<th width="1">ลำดับ</th>
						<th>เลขที่เอกสาร</th>
						<th>วันที่เอกสาร</th>
						<th>ผู้ทำรายการ</th>
						<th>สถานะเอกสาร</th>
						<th>วันที่ล่าสุด</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>6</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>7</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>8</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>9</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
					<tr>
						<td>10</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

















