<style>
.control-label { line-height:34px; margin:0; padding:0 !important; }
#nav-search { display:flex; flex-wrap:wrap; }
#nav-search > * { margin-bottom:5px; }
#nav-action button { margin-left:5px; }

#tablelist tr > *:nth-child(1),
#tablelist tr > *:nth-child(9) { text-align:center; }

table { background-color:#FFF; }
</style>  

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#!/dealer/myhome">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">การส่งคำร้องขอสั่งซื้อ SIM ของ CAT My (Postpaid/Prepaid)</li>
	</ol>
</nav>

<form class="form-horizontal well" role="form">
	<fieldset> 
		<div id="nav-search" class="form-group">
			<label class="col-sm-2 control-label">เลขที่ใบขอสั่งซื้อ</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">วันที่ทำรายการ</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">รหัสตัวแทนจำหน่าย</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">รหัสผู้ขาย</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">หมายเลข PO#</label>
			<div class="col-sm-4">
				<input type="text" placeholder="" class="form-control">
			</div> 
			<label class="col-sm-2 control-label">Service CATE</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>CAT My</option>
					<option>CAT Internet</option>
				</select>
			</div> 
			<label class="col-sm-2 control-label">Service Type</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>Prepaid</option>
					<option>Postpaid</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">Service Class</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>Standard</option>
					<option>TOP UP</option>
					<option>PKC</option> 
				</select>
			</div> 
			<label class="col-sm-2 control-label">Service Status</label>
			<div class="col-sm-4">
				<select class="form-control">
					<option>All</option>
					<option>Free</option>
					<option>Initial</option>
					<option>Sales</option> 
					<option>Return</option> 
				</select>
			</div> 
		</div> 
		<div id="nav-action">
			<button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#modalNew"><i class="fa fa-file-o"></i> สร้างใบร้องขอสั่งซื้อ</button> 
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-refresh"></i> ยกเลิก</button>
			<button class="btn btn-primary pull-right" type="button"><i class="fa fa-search"></i> ค้นหา</button>
		</div>
	</fieldset>
 </form>


<div class="row-fluid">
	<table id="tablelist" class="table table-bordered table-hover datatable">
		<thead>
			<tr class="success">
				<th width="1">เลขที่</th>
				<th>วันที่</th>
				<th>DEALER CoA</th>
				<th>รหัสผู้ขาย</th>
				<th>ประเภท SIM</th>
				<th>PO#</th>
				<th>สถานะ</th>
				<th>วันที่ล่าสุด</th>
				<th>ผู้บันทึก</th>
				<th width="135"></th>
			</tr>
		</thead>
		<tbody>
			<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
			<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
			<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
			<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
			<tr><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button type="button" class="btn btn-xs"><i class="fa fa-edit"></i> Edit</button> <button type="button" class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">ข้อมูลใบของสั่งซื้อ</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">เลขที่ใบขอสั่งซื้อ</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-2 control-label">วันที่ทำรายการ</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">รหัสตัวแทนจำหน่าย</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-2 control-label">รหัสผู้ขาย</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">อ้างอิง PO#</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-2 control-label">จำนวนหมายเลข</label>
						<div class="col-sm-2">
							<input name="text" value="" class="form-control" />
						</div>
						<label class="col-sm-1 control-label">เบอร์สวย</label>
						<div class="col-sm-1">
							<input type="checkbox" value="" style="position:relative; top:8px;" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Service CATE</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>CAT My</option>
								<option>CAT Internet</option>
							</select>
						</div> 
						<label class="col-sm-2 control-label">Service Type</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Prepaid</option>
								<option>Postpaid</option> 
							</select>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Service Class</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>Standard</option>
								<option>TOP UP</option>
								<option>PKC</option> 
							</select>
						</div> 
						<label class="col-sm-2 control-label">Service Status</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>All</option>
								<option>Free</option>
								<option>Initial</option>
								<option>Sales</option> 
								<option>Return</option> 
							</select>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ผู้ทำรายการ</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>XXXXXXXXXX</option>
								<option>XXXXXXXXXX</option>
								<option>XXXXXXXXXX</option>
							</select>
						</div> 
						<label class="col-sm-2 control-label">ผู้อนุมัติ</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>XXXXXXXXXX</option>
								<option>XXXXXXXXXX</option>
								<option>XXXXXXXXXX</option>
							</select>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">วันที่อนุมัติ</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div> 
						<label class="col-sm-2 control-label">หมายเหตุ</label>
						<div class="col-sm-4">
							<input name="text" value="" class="form-control" />
						</div> 
					</div>
				</div>
				<div class="row-fluid">
					<table id="tablelist" class="table table-bordered table-hover datatable">
						<thead>
							<tr class="success">
								<th width="1"></th>
								<th>ลำดับ</th>
								<th>MDN</th>
								<th>ICCID</th>
								<th>IMSI</th>
								<th>SAA</th>
								<th>CAT Sales Rep</th>
								<th width="1"></th>
							</tr>
						</thead>
						<tbody>
							<tr><td>1</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
							<tr><td>2</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
							<tr><td>3</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
							<tr><td>4</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
							<tr><td>5</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td>XXXXXX</td><td><button class="btn btn-xs"><i class="fa fa-trash"></i> Delete</button></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer text-right">
				<button type="button" class="btn btn-primary btn-primary"><i class="fa fa-refresh"></i> ยกเลิก</button>
				<button type="button" class="btn btn-primary btn-primary"><i class="fa fa-file-o"></i> ส่งใบขอสั่งซื้อ</button>
			</div>
		</div>
	</div>
</div>













