

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
  </ol>
</nav>
 <form class="form-horizontal" role="form">
 <div class="row" style="margin-bottom:10px;">
 

	<div class="col-sm-12 text-right" style="display:none;">
	
	<a href="req-dealer-admin.html" class="btn  btn-info"  ><i class="fa fa-plus"></i> Request New Dealer Account Admin</a>&nbsp;
	<a href="dealer-profile-update.html" class="btn  btn-warning" id="btnSuspend"><i class="fa fa-remove"></i> Suspend Contract Agreement</a>&nbsp;
</div>
</div>
   <div class="panel panel-warning">
	<div class="panel-heading">
		1. ผลิตภัณฑ์หรือบริการต้องการเป็นตัวแทนจำหน่าย
	</div>
	<div class="panel-body">

		 
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput"></label>
					<div class="col-sm-10">
					   <img  src="img/mylogo.png" style="width:100px;">
					   <br><strong>my บริการ 3G/4G</strong>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput">เลขที่สัญญา</label>
					<div class="col-sm-4">
					  <p class="form-control-static">CA0000001</p>
					</div> 
					<label class="col-sm-2 control-label" for="textinput">Dealer Code</label>
					<div class="col-sm-4">
					  <p class="form-control-static">BU000100001</p>
					</div>

					</div><div class="form-group">
 
					<label class="col-sm-2 control-label" for="textinput">วันที่สัญญาจาก</label>
					<div class="col-sm-4">
					  <p class="form-control-static">8/11/2560</p>
					</div>

					<label class="col-sm-2 control-label" for="textinput">วันที่สัญญาถึง</label>
					<div class="col-sm-4">
					  <p class="form-control-static">8/11/2561</p>
					</div>
					</div><div class="form-group">
					<label class="col-sm-2 control-label" for="textinput">Sale </label>
					<div class="col-sm-4">
					  <p class="form-control-static">S0001-ยอดขายดี บริการเยี่ยม</p>
					</div>

					</div>
				 
			</div>
		</div>

	</div> 
</div>
<!-- // -->
	<div class="panel panel-warning">
	<div class="panel-heading">
		2. พื้นที่สำหรับสมัครเป็นตัวแทนจำหน่าย
	</div>
	<div class="panel-body">
		 
		 <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">ภูมิภาค/เขต</label>
            <div class="col-sm-2">
               <p class="form-control-static">ภาคกลาง</p>
            </div>

            <label class="col-sm-2 control-label" for="textinput">จังหวัด/พื้นที่</label>
            <div class="col-sm-2">
              <p class="form-control-static">กรุงเทพ และ ปริมลฑล</p>
            </div>

			 <label class="col-sm-2 control-label" for="textinput">สำนักงานบริการลูกค้า/ศูนย์บริการลูกค้า</label>
				<div class="col-sm-2">
					<p class="form-control-static">ส่วนผลิตภัณฑ์และบริการ</p>
				</div>
          </div> 


	</div>
</div>
<!-- // -->
	<div class="panel panel-warning">
	<div class="panel-heading">
		3. รายละเอียด
	</div>
	<div class="panel-body form-horizontal" >
		 
		<!-- start -->
			 <fieldset>
                                        <!-- Form Name -->
                                        <legend>ข้อมูลทั่วไป</legend>


                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">ประเภทลูกค้า<em>*</em></label>
                                            <div class="col-sm-4">
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio1" onclick="changetype('P');" checked value="option1">
                                                    <label for="radio1">
                                                        บุคคลธรรมดา
                                                    </label>
                                                </div>
                                                <div class="radio radio-inline">

                                                    <input type="radio" name="x" id="radio2" onclick="changetype('N');" checked value="option2">
                                                    <label for="radio2">
                                                        นิติบุคคล
                                                    </label>
                                                </div>
                                            </div>


                                        </div>

										<div class="org"> 
                                            <!-- /// -->
											<!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภท<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v1" name="v1" class="form-control">
                                                        <option>บจก.</option>
                                                        <option>บมจ.</option>
                                                        <option>หจก.</option>
                                                    </select>
                                                </div>

												<label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">รหัสสาขา<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div> 

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="v5" name="v5">
                                                        <option value="1">Citizen ID Card</option>
                                                        <option value="2">Passport</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

											<!--  -->
                                            <div class="form-group">

											<label class="col-sm-2 control-label" for="textinput">วันที่จดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">ทุนจดทะเบียน<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v4" name="v4" placeholder="ทุนจดทะเบียน" class="form-control">
                                                </div> 

                                            </div>

                                            
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>
										</div>
<!-- org -->
                                        <div class="individual">
                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select id="v1" name="v1" class="form-control">
                                                        <option>นาย</option>
                                                        <option>นาง</option>
                                                        <option>นางสาว</option>
                                                    </select>
                                                </div>

                                                <!-- Text input-->
                                                <label class="col-sm-2 control-label" for="textinput">เพศ<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio1gd" checked value="option1">
                                                        <label for="radio1gd">
                                                            ชาย
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-inline">

                                                        <input type="radio" name="xgd" id="radio2gd"  value="option2">
                                                        <label for="radio2gd">
                                                            หญิง
                                                        </label>
                                                    </div>
                                                </div>

                                                <label class="col-sm-1 control-label" for="textinput">วันเกิด<em>*</em></label>
                                                <div class="col-sm-3">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <input type="text" id="v2" name="v2" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /// -->
                                            <!-- /// -->
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label" for="textinput">ชื่อ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v3" name="v3" placeholder="ชื่อ" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">นามสกุล<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" id="v4" name="v4" placeholder="นามสกุล" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- /// -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">ประเภทบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="v5" name="v5">
                                                        <option value="1">Citizen ID Card</option>
                                                        <option value="2">Passport</option>
                                                        <option value="3">Other</option>
                                                    </select>
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">หมายเลขบัตร<em>*</em></label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="v6" name="v6" placeholder="หมายเลขบัตร" class="form-control">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">เลขที่ประจำตัวผู้เสียภาษี</label>
                                                <div class="col-sm-2">
                                                    <input type="text" placeholder="เลขที่ประจำตัวผู้เสียภาษี" class="form-control">
                                                </div>
                                            </div>
                                            <!-- /// -->

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control" id="v7" name="v7">
                                                </div>

                                                <label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
                                                <div class="col-sm-4">
                                                    <input type="text" placeholder="อีเมล์ " class="form-control">
                                                </div>
                                            </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="เบอร์โทรสาร " class="form-control">
                                            </div>
                                        </div>

                                            </div>
                                       <!-- individual -->

                                    </fieldset>

                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>ที่อยู่ <button type="button" class="text-danger btn" id="address-plus"><i class="fa fa-plus"></i> เพิ่ม</button></legend>

										<div class="panel address-multiple">
											<div class="panel-body">
													
											<label class="address-label">1</label>
												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
													<div class="col-sm-3">
														<input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
													<div class="col-sm-2">
														<input type="text" placeholder="หมู่ที่" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
													<div class="col-sm-3">
														<input type="text" placeholder="หมู่บ้าน" class="form-control">
													</div>
												</div>

												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
													<div class="col-sm-2">
														<input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
													<div class="col-sm-3">
														<input type="text" placeholder="ตรอก/ซอย" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">ถนน</label>
													<div class="col-sm-3">
														<input type="text" placeholder="ถนน" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-4 col-sm-offset-2">
														<button type="button" data-toggle="modal" data-target="#mdAddress" id="btnAddress" class="btn btn-sm btn-info"><i class="fa fa-search"></i> ค้นหาที่อยู่</button>
													</div>
												</div>
												<!-- Text input-->
												<div class="form-group">
													
													<label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" id="province" name="province_id" readonly placeholder="" class="form-control" value="กรุงเทพมหานคร">
													</div>

													<label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" id="district" name="amphur_id" readonly placeholder="" class="form-control" value="พระนคร">
													</div>


												</div>

												<!-- Text input-->
												<div class="form-group">

													<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" id="subdistrict" name="district_id" readonly placeholder="" class="form-control" value="พระบรมมหาราชวัง">
													</div>

													<label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" id="zipcode" name="zipcode" readonly placeholder="" class="form-control" value="10200">
													</div>


												</div>
											</div>
										</div>

										<template id="templateAddress">
										<div class="panel address-multiple">
											<div class="panel-body">
													
												<label class="address-label">1</label>
												<button type="button" class="btn btn-danger btn-sm pull-right btn-delete-template">
													<i class="fa fa-times"></i> ลบ
												</button>
												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">ที่อยู่เลขที่<em>*</em></label>
													<div class="col-sm-3">
														<input type="text" placeholder="ที่อยู่เลขที่" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">หมู่ที่<em>*</em></label>
													<div class="col-sm-2">
														<input type="text" placeholder="หมู่ที่" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">หมู่บ้าน</label>
													<div class="col-sm-3">
														<input type="text" placeholder="หมู่บ้าน" class="form-control">
													</div>
												</div>

												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">อาคาร/ชั้นห้อง</label>
													<div class="col-sm-2">
														<input type="text" placeholder="อาคาร/ชั้นห้อง" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">ตรอก/ซอย</label>
													<div class="col-sm-3">
														<input type="text" placeholder="ตรอก/ซอย" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="textinput">ถนน</label>
													<div class="col-sm-3">
														<input type="text" placeholder="ถนน" class="form-control">
													</div>
												</div>

												<!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">จังหวัด<em>*</em></label>
													<div class="col-sm-4">
														<select class="form-control">
															<option>นนทบุรี</option>
														</select>
													</div>

													<label class="col-sm-2 control-label" for="textinput">อำเภอ/เขต<em>*</em></label>
													<div class="col-sm-4">
														<select class="form-control">
															<option>ปากเกร็ด</option>
														</select>
													</div>


												</div>

												<!-- Text input-->
												<div class="form-group">

													<label class="col-sm-2 control-label" for="textinput">ตำบล/แขวง<em>*</em></label>
													<div class="col-sm-4">
														<select class="form-control">
															<option>คลองเกลือ</option>
														</select>
													</div>

													<label class="col-sm-2 control-label" for="textinput">รหัสไปรษณีย์<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" placeholder="รหัสไปรษณีย์" class="form-control">
													</div>


												</div>
											</div>
										</div>
										</template>

                                    </fieldset>


                                    <fieldset id="address2">
                                        <!-- Form Name -->
                                        <legend>บุคคลที่ติดต่อ <button type="button" class="text-danger btn" id="contact-plus"><i class="fa fa-plus"></i> เพิ่ม</button></legend>
                                        <!-- Text input-->
										
										<div class="panel address-multiple">
										
											<label class="contact-label">1</label>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
												<div class="col-sm-2">
													<select class="form-control">
														<option>นาย</option>
														<option>นาง</option>
														<option>นางสาว</option>
													</select>
												</div>

												<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-3">
													<input type="text" placeholder="ชื่อ" class="form-control">
												</div>

												<label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
												<div class="col-sm-3">
													<input type="text" placeholder="นามสกุล" class="form-control">
												</div>
											</div>

											 <!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
													</div>

													<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
													<div class="col-sm-4">
														<input type="text" placeholder="อีเมล์ " class="form-control">
													</div>
												</div>

											<!-- Text input-->
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
												<div class="col-sm-4">
													<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
												</div>

												<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
												<div class="col-sm-4">
													<input type="text" placeholder="เบอร์โทรสาร " class="form-control">
												</div>
											</div>
										</div>
										
										<template id="templateContact">
										<div class="panel address-multiple">
											<label class="contact-label"></label>
											<button type="button" class="btn btn-danger btn-sm pull-right btn-delete-template">
												<i class="fa fa-times"></i> ลบ
											</button>
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">คำนำหน้าชื่อ<em>*</em></label>
												<div class="col-sm-2">
													<select class="form-control">
														<option>นาย</option>
														<option>นาง</option>
														<option>นางสาว</option>
													</select>
												</div>

												<label class="col-sm-1 control-label" for="textinput">ชื่อ<em>*</em></label>
												<div class="col-sm-3">
													<input type="text" placeholder="ชื่อ" class="form-control">
												</div>

												<label class="col-sm-1 control-label" for="textinput">นามสกุล<em>*</em></label>
												<div class="col-sm-3">
													<input type="text" placeholder="นามสกุล" class="form-control">
												</div>
											</div>

											 <!-- Text input-->
												<div class="form-group">
													<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์มือถือ<em>*</em></label>
													<div class="col-sm-4">
														<input type="text" placeholder="เบอร์โทรศัพท์มือถือ" class="form-control">
													</div>

													<label class="col-sm-2 control-label" for="textinput">อีเมล์ </label>
													<div class="col-sm-4">
														<input type="text" placeholder="อีเมล์ " class="form-control">
													</div>
												</div>

											<!-- Text input-->
											<div class="form-group">
												<label class="col-sm-2 control-label" for="textinput">เบอร์โทรศัพท์</label>
												<div class="col-sm-4">
													<input type="text" placeholder="เบอร์โทรศัพท์" class="form-control">
												</div>

												<label class="col-sm-2 control-label" for="textinput">เบอร์โทรสาร </label>
												<div class="col-sm-4">
													<input type="text" placeholder="เบอร์โทรสาร " class="form-control">
												</div>
											</div>
										</div>
										</template>

                                    </fieldset>

                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend>เอกสารประกอบการสมัคร</legend>
										<div class="individual">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาบัตรประชาชน <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาบัตรประชาชน " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาทะเบียนบ้าน</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="สำเนาทะเบียนบ้าน " class="form-control">
                                            </div>
                                        </div>
										</div>
										<div class="org">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาหนังสือจดทะเบียนบริษัท <em>*</em></label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder="หนังสือจดทะเบียนบริษัท " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">สำเนาเอกสารใบภพ. 20</label>
                                            <div class="col-sm-4">
                                                <input type="file" placeholder=" " class="form-control">
                                            </div>
                                        </div>
										</div>

                                    </fieldset>

									 <fieldset class="well catshop">
                                        <!-- Form Name -->
                                        <legend style="border:0px;">สำหรับพนักงาน CAT </legend>
										
										 <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Type</label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														Dealer
													</option> 
													<option value="" >
														Partner
													</option> 
													<option value="" >
														Partner & Dealer
													</option> 
												</select> 
                                            </div>
											<label class="col-sm-2 control-label" for="textinput">Project Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Department </label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตเหนือ
													</option> 
													<option value="" selected>
														สำนักงานบริการลูกค้า กสท เขตกลาง
													</option> 
												</select> 
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Employee Id</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>
                                        </div>
										<!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Employee Telephone </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Employee Email	</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder=" " class="form-control">
                                            </div>
                                        </div>

										<hr/>

                                       <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Customer Segment </label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														ธุรกิจทั่วไป
													</option> 
													<option value="" selected>
														หน่วยงานรัฐ
													</option> 
													<option value="" selected>
														บุคคลทั่วไป
													</option> 
													<option value="" selected>
														ธุรกิจ กสท
													</option> 
												</select> 
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Customer Group	</label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														กลุ่มเกษตรและแปรรูป
													</option> 
													<option value="" selected>
														สินค้าอุปโภคบริโภค
													</option> 
													<option value="" selected>
														กลุ่มสินค้าอุตสาหกรรม
													</option> 
													<option value="" selected>
														กลุ่มบริการ
													</option> 
												</select> 
                                            </div>
                                        </div>

										<!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Customer Type </label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														กฎหมาย
													</option> 
													<option value="" selected>
														การท่องเที่ยวและสันทนาการ
													</option> 
													<option value="" selected>
														ขนส่งและโลจิสติกส์
													</option> 
													<option value="" selected>
														ที่ปรึกษา
													</option> 
												</select> 
                                            </div>
											 <label class="col-sm-2 control-label" for="textinput">Customer Focus	</label>
                                            <div class="col-sm-4">
                                                <select name="" class="form-control">
													<option value="" selected>
														อื่นๆ
													</option> 
													 
												</select> 
                                            </div>
                                        </div>

                                    </fieldset>
		<!-- end -->
	</div>
</div>
<!-- // -->
	<div class="col-md-4 col-md-offset-4">
		<a href="#!/dealer/dealer-profile-update" class="btn btn-md btn-primary btn-primary-orange" type="button"  id="btnUpdate" style="width:45%;">
			บันทึกข้อมูล  
		</a>
	</div> 

</form>


    <script type="text/javascript">
	
            function changetype(obj){
                if(obj=="P"){
                    $(".org").hide();
					$(".individual").show();
                }
                else if(obj=="N"){
                    $(".org").show();
					$(".individual").hide();
                }
            }
        $(function () {
			changetype("N");
			$('.catshop').hide();
			$("#btnNext").click(function(){
				$("#frm").submit();
			});
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                autoclose: true
            });
           
$('#frm').validate({
					rules: {
						v1: { 
							required: true
						}
						/*, 
						v2: { 
							required: true
						}, 
						v3: { 
							required: true
						}, 
						v4: { 
							required: true
						}, 
						v5: { 
							required: true
						}, 
						v6: { 
							required: true
						}, 
						v7: { 
							required: true
						}*/
					}
					,
					highlight: function (element) {
        
							$(element).closest('div').removeClass('has-success').addClass('has-error'); 
					   
					},
					unhighlight: function (element) { 
						$(element).closest('div').removeClass('has-error');
						$(element).closest('div').removeClass('has-error');
						 
					},
					errorElement: 'span',
					errorClass: 'help-block'
					/*,
					success: function (element) {
						element.text('OK!').addClass('valid')
							.closest('.control-group').removeClass('error').addClass('success');
					}
					*/
				});
				
            });
    
		$(function () {
  	$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	$('#search-trigger').click(function () {
  		$('.navbar-nav').removeClass('slide-in');
  		$('.side-body').removeClass('body-slide-in');
  		$('.search-input').focus();
  	});
  }); 
 
$(function(){
	
			//$("input").attr("disabled",true);
			//$("select").attr("disabled",true);
	$("#btnUpdate").click(function(){ 
		if(checkRequire())
			bootbox.alert({
				message: "ปรับปรุงข้อมูลเรียบร้อยแล้ว",
				size: 'small'
			});
	});

	$("#btnSuspend").click(function(e){ 
		e.preventDefault();
		    bootbox.confirm({
			message: "Do you want to suspend this contract agreement?",
			buttons: {
				confirm: {
					label: 'Yes',
					className: 'btn-success'
				},
				cancel: {
					label: 'No',
					className: 'btn-danger'
				}
			},
			callback: function (result) {
				if(result){
				window.location.href='CAList.html';
				}
			}
		});
	});
	
});

var templateAddress = $('#templateAddress').html();
var templateContact = $('#templateContact').html();
$('#address-plus').click(function(){
	$(this).parent().after(templateAddress);
	let order = $(this).parent().parent().children().length - 2;
	$(this).parent().parent().find('.address-label').first().text( order );
});
$('#contact-plus').click(function(){
	$(this).parent().after(templateContact);
	let order = $(this).parent().parent().children().length - 2;
	$(this).parent().parent().find('.contact-label').first().text( order );
});

$(document).on('click', '.btn-delete-template', function(){
	$(this).parent().remove();
});


 </script>
